@import url(https://fonts.googleapis.com/css?family=Bangers);

.auth_logo {
    height: 120px;
    width: 120px;
    margin: 0 50px 50px 80px;
    padding: 0 auto;
}

body {
    background: #1e90ff;
}


/* LOGIN */
.login-container {
    border-radius: 10px;
    margin-top: 60px;
    padding: 60px;
    background: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}


.login-btn {
    margin-left: 20px;
}
.login-social {
    padding-top: 40px;
}

.wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 12vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    -moz-transform: skew(0, -6.7deg);
    -ms-transform: skew(0, -6.7deg);
    -webkit-transform: skew(0, -6.7deg);
    transform: skew(0, -6.7deg);
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  @media screen and (max-width: 50em) {
    h1 {
      font-size: 20vw;
    }
  }

  .auth-msg {
      color: white;
      font-family: 'roboto', sans-serif;
      font-size: 24px;
  }
.auth-msg a {
    color: greenyellow;
    font-family: 'roboto', sans-serif;
    font-size: 24px;
}