
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>
        {% block head_title %}
        {% endblock %}
      </title>

      {% block extra_head %}
      {% endblock %}
</head>
<body>
    {% include 'courses/navbar.html' %}
    {% include 'courses/messages.html' %}

{% block body %}


    {% if not request.user.is_authenticated %}
    <nav class="breadcrumb">
            <ol class='breadcrumb'>
                <li class='pull-left'><a href="{% url 'memberships:signup' %}">Register</a></li>
                <li class='pull-right'><a href="{% url 'memberships:login' %}">Login</a></li>
                <li class='pull-right'><a href='/memberships'>Memberships</a></li>
            </ol>
     </nav>

     {% block landing %}
    <div class='allMac'>
            <div class='screen'>
              <div class='browser'>
                <div class='toolbar'>
                  <div class='buttons'>
                    <img class="intro-logo" src="https://s15.postimg.cc/dgcqp5jln/spectrum.png">
                    <div class='btn'>

                    </div>
                    <div class='btn'></div>
                    <div class='btn'></div>
                  </div>
                  <div class='urlbar'>
                    <span>
                      helloworld.com
                    </span>
                  </div>
                </div>
                <div class='window'>
                  <div class='heading'>
                    <h2 class="screen-title">
                      Welcome to The Spectrum
                      <br>
                      <small>
                        By: <strong>Dillan Teagle</strong>
                      </small>
                      <br>
                      <small>

                      </small>
                    </h2>
                  </div>
                </div>
              </div>
              <div class='dock'>
                <div class='dock-items'>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/backpack.png'>
                    <!-- <span>

                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/book.png'>
                    <!-- <span>
                      book
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/briefcase.png'>
                    <!-- <span>
                      briefcase
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/browser.png'>
                    <!-- <span>
                      browser
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/chalk.png'>
                    <!-- <span>
                      chalk
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/direction.png'>
                    <!-- <span>
                      direction
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/ghost.png'>
                    <!-- <span>
                      ghost
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/map.png'>
                    <!-- <span>
                      map
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/padlock.png'>
                    <!-- <span>
                      padlock
                    </span> -->
                  </div>
                  <div class='dock-item'>
                    <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/379903/meter.png'>
                    <!-- <span>
                      meter
                    </span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class='outerscreen'></div>
            <div class='clutch'></div>
        <div class='mac-base2'></div>
      <div class='mac-base'></div>
    </div>
  {% endblock %}

    {% else %}


    <div class="container">
            <ol class='breadcrumb'>
                <li><a href='/courses'>Courses</a></li>
                <li><a href='/blog'>Blog</a></li>
                <li><a href='/memberships/my_membership/'>View Membership Details</a></li>
                    {% block post_detail_link %}
                    {% endblock %}
                <li class='pull-right'><a href="{% url 'memberships:logout' %}">Logout</a></li>
                <li class='pull-right'><a href='/memberships'>Memberships</a></li>
            </ol>
        </div>
    {% endif %}
    <div class="container-fluid">
            {% block content %}

            {% endblock %}
    </div>
{% endblock %}

{% block extra_body %}

{% endblock %}
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script>
	$("#relationship").text('');
</script>
</body>
</html>
