
{% extends 'courses/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
            <h1 class="text-center">Course Detail View Page</h1>
            <hr>
        <div class="col-sm-4 col-md-4">
            <h1>{{ object.title }}</h1>
            <p class="lead">{{ object.description }}</p>
            </div>
            <div class="col-sm-6 col-md-6">
            <table class="table table-bordered">
             <tbody>
                {% for lesson in object.lessons %}
                <tr class="active">
                  <a href="{{ lesson.get_absolute_url }}">
                     <h4 class="text-center">{{ lesson.title }}</h4>
                  </a>
                </tr>
                {% endfor %}
             </tbody>
        </table>

        </div>
    </div>
</div>
{% endblock content%}
