{% load static %}
<div class="container d-flex">
    <div class="row">
            <div class="top-nav">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h1 class="site-title">DIGITAL POOP</h1>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">

                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="search-box">
                      <form id="searchthis" action="/search" style="display:inline;" method="get">
                        <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="find poop"/>
                        <input id="namanyay-search-btn" value="Search" type="submit"/>
                      </form>
                    </div>
                </div>
            </div>
    </div>
</div>
