{% load static %}
<div class="container-fluid">
    <div class="row">
            <div class="top-nav">
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <img class="logo" src="https://s15.postimg.cc/dgcqp5jln/spectrum.png">
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a href="{% url 'home' %}">
                      <i class="nav-icon fas fa-home fa-3x">
                      </i>
                    </a>
                    <a href="{% url 'courses:list' %}">
                        <i class="nav-icon fas fa-video fa-3x">
                        </i>
                    </a>
                    <a href="{% url 'blog:blog' %}">
                        <i class="nav-icon fab fa-stack-exchange fa-3x">
                        </i>
                    </a>
                      <!-- <h4 class="nav-user">Hello, {{ user.get_full_name }}</h4> -->
                  </div>
                <div class="col-sm-6 col-md-6">
                    <div class="search-box">
                      <form id="searchthis" action="/blog/" style="display:inline;" method="get">
                        <input id="namanyay-search-box" value="{{ request.GET.q }}" name="q" size="40" type="text" placeholder="search for it"/>
                        <input id="namanyay-search-btn" value="Search" type="submit"/>
                      </form>
                    </div>
                </div>

            </div>
    </div>
</div>