{% extends 'blog/base.html' %}



{% block content %}
{% if not request.user.is_authenticated %}
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="non-member-card">
                    <div class="card-block">
                        <h4 class="non-member-card-title">You are not yet a member</h4>
                            <p class="non-member-card-text">The reason why you do not have access to
                            this page is because you are not registered as a member.
                            Please click below to register.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                    <button type="button" class="btn btn-success">Sign Up</button>
                </div>
            </div>

{% else %}
<a href="/blog/create/" class="gradient-btn create-post-btn" data-title="Create Post"></a>
<h1 class="title">The Short Stack</h1>
<div class="container-fluid">
   <div class="row">

      <div class="page-header">

      </div>
   </div>
  <div class="row">
     <aside class="col-md-2 shadow panel panel-primary">
         <header class="panel-heading">
             Users
         </header>
        <ul class="list-group">
            {% for user in users %}
              <a href="{{ user.get_absolute_url }}">
                <li class="list-group-item">{{ user }}</li>
              </a>
              <hr />
            {% endfor %}
        </ul>
     </aside>


    <div class="col-md-6">

{% for post in all_posts %}

<article class="post">
    <header class="post-header">
        <div class="meta">
            <div class="row inline">
                {% if post.image %}
                <div class="col-md-2">
                    <a href="{{ post.author.get_absolute_url }}">
                        <img height="80" width="80" id="avatar" class="img-responsive img-circle" src="{{ post.author.avatar.url }}" alt='author-avatar'/>
                    </a>
                </div>
                <div class="post-author">
                    <strong id="label">
                      <span class="author">{{ post.author.user.username }}</span>
                    </strong>
                </div>
            </div>
          </div>
            <span class="date"><strong><em>Created:</em>{{ post.timestamp }}</strong></span>
        </header>
        <h2 class="text-center blog-title">{{ post.title }}</h2>
              <div class="entry-content">


                <p class="content-markdown content-descr">{{ post.description|safe|truncatechars:100 }}&hellip;</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary pull-right">Read More
                <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true">
                </span></a>

            {% else %}
                <p class="lead">{{ post.description|safe|truncatechars:100 }}&hellip;</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary pull-right">Read More <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            {% endif %}
              </div>
              <hr>
    <footer class="post-footer">

              <a href="{{ post.get_like_url }}" data-likes="{{ post.likes.count }}"
              class="like-btn btn btn-success" data-href="{{ post.get_api_like_url }}">
              Like
                <span>{{ post.likes.count }}</span>
              </a>
    </footer>


</article>
{% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if all_posts.has_previous %}
        <a href="?{{ page_request_var }}={{ all_posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.
        </span>

        {% if all_posts.has_next %}
        <a href="?{{ page_request_var }}={{ all_posts.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>

          </div>
    <aside class="col-sm-4 col-md-4 col-lg-4">

        <div class="mb-3">
            <h3 class="card-header mb-3">Join our Newsletter</h3>
            <form  method="POST">
                {% csrf_token %}
                {{ form }}

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Join</button>
            </span>
            </form>

        </div>

        <h3>Recent Posts</h3>
        <div>
          {% for obj in recent_posts %}
          <h4 class="list-group-item-heading">
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
          </h4>
          <p class="list-group-item-text content-markdown">
            {{ obj.description|truncatechars:20 }}
          </p>
          <hr>
          {% endfor %}
        </div>

      </div>

          </aside>
        </div>
    </div>


{% endif %}

{% endblock %}