{% extends "account/base.html" %}
{% load crispy_forms_tags  %}

{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}

<p class="auth-msg">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
      <div class="wrap">
              <h1>Sign Up</h1>
            </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="login-container">

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="login-btn btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>

</div>
</div>
</div>
{% endblock %}





