{% extends 'memberships/base.html' %}


{% block content %}
<div class="container">
			<h1 class="title text-center">Your Profile</h1>
			<a href="" class="gradient-btn create-post-btn"
			   data-title="Update Profile"></a>
	<div class="row">
	  <div class="col-sm-12 text-center">
		<h2 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h2>
		{% if usermembership.avatar is None %}
			<img src="https://s15.postimg.cc/aoc8saijv/placeholder_profile_pic.png"
			alt="profile-pic" class="avatar">
		{% else %}
			<img src="{{ user_membership.avatar }}" alt="profile-pic">
		{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="profile-card card-lg col-sm-4 col-md-4">

			  <ul class="user-information">
				 <li><strong>Username:</strong> {{ user.username }}</li>
				 <li><strong>location:</strong> {{ user_membership.location }}</li>
				 <li><strong>Birth Date:</strong> {{ user_membership.birth_date }}</li>
				 <li><strong>Bio:</strong> {{ user_membership.bio }}</li>
			  </ul>
		</div>
			<div class="profile-card card-lg col-sm-4 col-md-4 user-information">
					{% if user_subscription != None %}
						<h4>Current Membership: {{ user_membership.membership.membership_type }} <small>since {{ user_subscription.get_created_date }}</small></h4>

						{% if user_subscription.active != False %}
							<p>Next payment due: {{ user_subscription.get_next_billing_date }}</p>
							<a class="btn btn-primary" href="{% url 'memberships:cancel' %}">Cancel subscription</a>

						{% else %}
							<p>You don't have an active membership plan. Check them out here
								<a href="{% url 'memberships:select' %}"></a>
							</p>
						{% endif %}
					{% endif %}
				</div>
				<div class="col-md-2"></div>
		  </div>

</div>
{% endblock content %}